{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="display-1 d-block">Details</h1>
    <div class="mb-4 lead">Details for <code>{{ url.short }}</code></div>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Short URL</th>
            <th scope="col">Long URL</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <a href="{{ url('Homepage') ~ url.short }}" target="_blank" rel="nofollow">{{ url('Homepage') ~ url.short }}</a>
            </td>
            <td>
                <a href="{{ url.full }}" target="_blank" rel="nofollow">{{ url.full }}</a>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}